@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
	background-color: #111 !important;
}
svg {
    display: block;
    font: 5.5em 'Montserrat';
    width: 100%;
    height: 150px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #FC3D7C;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #B9AEF0;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #39C2C9;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #00FFF8;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #ADA1EB;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}
.title {
	font-family: "Montserrat";
	text-align: center;
	color: #FFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* height: 100vh; */
	letter-spacing: 1px;
}

b {
	font-family: "Montserrat";
	background-image: url('https://media.giphy.com/media/xT1XGCMXjqdzPVVUqI/giphy.gif');
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 8vw;
	line-height: .75;
	margin: 10px 0;
	margin-top: 0vh;
}

.white-mode {
	text-decoration: none;
	padding: 7px 10px;
	background-color: #122;
	border-radius: 3px;
	color: #FFF;
	transition: .35s ease-in-out;
	position: absolute;
	left: 15px;
	bottom: 15px;
	font-family: "Montserrat";
}

.white-mode:hover {
	background-color: #FFF;
	color: #122;
}

.count{
	/* color: #666a73; */
	color: #efefef;
	font-weight: 300;
	letter-spacing: 0.06em;
	text-align: center;
	font-size: 3vw;
}
.container{
	max-width: 100% !important;
	position: absolute;
	top: 40%;
	transform: translateY(-50%);
}
.row{
	position: absolute;
	left:51.5%;
	transform: translateX(-50%);
	margin-top: 5vh;
}
.bg-gradient1 span,
.bg-gradient1:before {
  /* background: #fa7e29;
  background: linear-gradient(180deg, #fa7e29 0%, #F6682F 80%, #F6682F 100%); */
  background: #B9AEF0;
  background: linear-gradient(180deg, #B9AEF0 0%, #ADA1EB 80%, #ADA1EB 100%);
}

.bg-gradient2 span,
.bg-gradient2:before {
  background: #39C2C9;
  background: linear-gradient(180deg, #39C2C9 0%, #3FC8C9 80%, #3FC8C9 100%);
}

.pop-onhover.bg-gradient3 span,
.pop-onhover.bg-gradient3:before {
  background: #B9AEF0;
  background: linear-gradient(180deg, #B9AEF0 0%, #ADA1EB 80%, #ADA1EB 100%);
}

.bg-gradient4 span {
  background: #F6682F;
  background: linear-gradient(180deg, #F6682F 0%, #F6682F 80%, #F6682F 100%);
}

.wrapper {
  margin: 4% auto;
  text-align: center;
}

h3 {
  color: #666a73;
  font-weight: 300;
  letter-spacing: 0.06em;
}

a {
  text-decoration: none;
}
a:hover, a:focus, a:active {
  text-decoration: none;
}

.fancy-button {
  display: inline-block;
  margin: 20px;
  font-family: 'Heebo', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1vw;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  line-height: 24px;
  color: #ffffff;
  position: relative;
}
.fancy-button.bg-gradient1 {
  text-shadow: 0px 0px 1px #BF4C28;
}
.fancy-button.bg-gradient2 {
  text-shadow: 0px 0px 1px #227270;
}
.fancy-button.bg-gradient3 {
  text-shadow: 0 0 1px #546082;
}
.fancy-button:before {
  content: '';
  display: inline-block;
  height: 40px;
  position: absolute;
  bottom: -1px;
  left: 10px;
  right: 10px;
  z-index: -1;
  border-radius: 2em;
  -webkit-filter: blur(14px) brightness(0.9);
          filter: blur(14px) brightness(0.9);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  transition: all 0.3s ease-out;
}
.fancy-button i {
  margin-top: -2px;
  font-size: 1.265em;
  vertical-align: middle;
}
.fancy-button span {
  display: inline-block;
  padding: 16px 20px;
  border-radius: 50em;
  position: relative;
  /* width: 250px; */
  width: 20vw;
  text-align: center;
  z-index: 2;
  will-change: transform, filter;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  transition: all 0.3s ease-out;
}
.fancy-button:focus {
  color: #ffffff;
}
.fancy-button:hover {
  color: #ffffff;
}
.fancy-button:hover span {
  -webkit-filter: brightness(0.9) contrast(1.2);
          filter: brightness(0.9) contrast(1.2);
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}
.fancy-button:hover:before {
  bottom: 3px;
  -webkit-filter: blur(6px) brightness(0.8);
          filter: blur(6px) brightness(0.8);
}
.fancy-button:active span {
  -webkit-filter: brightness(0.75) contrast(1.7);
          filter: brightness(0.75) contrast(1.7);
}
.fancy-button.pop-onhover span {
  border-radius: 4px;
}
.fancy-button.pop-onhover:before {
  opacity: 0;
  bottom: 10px;
}
.fancy-button.pop-onhover:hover:before {
  bottom: -7px;
  opacity: 1;
  -webkit-filter: blur(16px);
          filter: blur(16px);
}
.fancy-button.pop-onhover:hover span {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.fancy-button.pop-onhover:hover:active span {
  -webkit-filter: brightness(1) contrast(1);
          filter: brightness(1) contrast(1);
  -webkit-transform: scale(1);
          transform: scale(1);
  transition: all 0.2s ease-out;
}
.fancy-button.pop-onhover:hover:active:before {
  bottom: 0;
  -webkit-filter: blur(5px) brightness(0.85);
          filter: blur(5px) brightness(0.85);
  transition: all 0.2s ease-out;
}

.pop-onhover.bg-gradient3 span:hover {
  background: #B9AEF0;
  background: linear-gradient(120deg, #B9AEF0 0%, #ADA1EB 80%, #ADA1EB 100%);
}

.bg-gradient4:before {
  bottom: 2px;
  opacity: 0.6;
  transition: all 0.3s ease-out;
}

.bg-gradient4 {
  transition: all 1s ease;
}
.bg-gradient4 span {
  outline: 0px solid transparent;
}
.bg-gradient4:hover span {
  background: #FC3D7C;
  background: linear-gradient(-25deg, #FC3D7C 0%, #F76A34 80%, #F76A34 100%);
}
.bg-gradient4:focus span, .bg-gradient4:active span {
  background: #FC3D7C;
  background: linear-gradient(25deg, #FC3D7C 0%, #F76A34 80%, #F76A34 100%);
}
.bg-gradient4:focus span {
  box-shadow: 0 0 9px #00FFF8;
}
.bg-gradient4:active span {
  -webkit-filter: brightness(0.85) contrast(1.3);
          filter: brightness(0.85) contrast(1.3);
}

.bg-gradient4 span {
  text-transform: capitalize;
}

b {
	font-family: "Montserrat";
	background-image: url('https://media.giphy.com/media/3o7buje5xoNSWK39T2/giphy.gif');
	/* background-image: url('https://media.giphy.com/media/l3q2Nz5AJ5BI7uxjy/giphy.gif'); */
	/* background-image: url('https://media.giphy.com/media/xT1XGCMXjqdzPVVUqI/giphy.gif'); */
	/* background-image: url('https://media.giphy.com/media/26ybuO1QZmaeBVKco/giphy.gif'); */
	/* background-image: url('https://media.giphy.com/media/l2YSwZ608GnGC75Go/giphy.gif'); */
	/* background-image: url('https://media.giphy.com/media/xUOrweAuasNNXOSEeI/giphy.gif'); */
	/* background-image: url('https://media.giphy.com/media/3o85xGFFW31jqtDgFW/giphy.gif'); */
	/* background-image: url('https://media.giphy.com/media/xThuWcaa4U4XZQDgvm/giphy.gif'); */
	/* background-image: url('https://media.giphy.com/media/3iCtoHndsm1IXv2loG/giphy.gif'); */
	/* background-image: url('https://media.giphy.com/media/I2sZ6qckkhfLG/giphy.gif'); */
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 8vw;
	line-height: .75;
	margin: 10px 0;
	margin-top: 0vh;
}
